.inputcontainer {
  display: flex;
  justify-content: space-around;
}

.ingredientsinstructionslabelcol {
  width: 45%;
}
.ingredientsinstructionslabel {
  padding: 10px;
}

.ingredientsform {
  width: 45%;
  display: flex;
}

.instructionsform {
  width: 45%;
  display: flex;
}

.ingredientslist {
  width: 43%;
  padding-right: 2%;
}

.instructionslist {
  width: 43%;
  padding-right: 2%;
}

.modernbuttonexport {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #b85450 /*#b85450*/;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.inputcontainerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredientsinstructionsbutton {
  display: flex;
  justify-content: center;
  width: auto;
}

.modernbuttonsave {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #6c8ebf /*#b85450*/;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
}

.orText {
  margin: 0 15px; /* Add horizontal spacing */
}
