.headerdeco {
  font-family: cursive;
  background-color: #ffe6cc;
  text-align: center;
  font-weight: bold;
  height: 100%;
  padding: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.headersize {
  font-size: 2.5em;
}
.subheadersize {
  font-size: 1em;
}
.line {
  width: 40%;
  border: 1px solid #afafaf;
}

.parentdiv {
  display: flex;
  justify-content: space-evenly;
}

.imgpos {
  /*margin-left: 3%;*/
  width: 130px;
  height: 115px;
  opacity: 0.4;
}

/*
div className={styles.titlepos}
.titlepos {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
}
*/
