.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 20px;
  background-color: #ffe6cc;
  font-family: cursive;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: sticky;
  top: 0;
}

.logo {
  width: 65px; /*it was 120px w and 106px h*/
  height: auto;
  opacity: 0.6;
}

.title {
  font-size: 2.3em;
  color: #4d4d4d;
}

.navLinks {
  display: flex;
  gap: 20px;
  height: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 0 16px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease-in-out, color 0.2s;
  cursor: pointer;
}

.navLink:hover {
  border-bottom: 3px solid #4d4d4d;
  color: #000;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  gap: 12px;
}
