.moderninput {
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /*margin: 0 auto;*/
  padding: 15px 10px;
}

.moderninput:focus {
  outline: none;
}

.inputcontainer {
  display: flex;
  justify-content: space-around;
}
.recipeinfocol1 {
  width: 45%;
}
.recipeinfocol2 {
  width: 45%;
}
.recipeinfolabel {
  padding: 10px;
}
.recipeinforow {
  width: 100%;
  margin: 20px auto;
}
